In [1]:
a=100
if a>=100:
    print("yes condition is satisfied if block is executed")

yes condition is satisfied if block is executed

In [4]:
a=input("enter any number")
if int(a)>25:
    print("if block is executed due to condition has been satisfied")

enter any number 27

if block is executed due to condition has been satisfied

In [7]:
# if else
weather='sunny'

if weather=="sunny":
    print("i will play cricket")
else:
    print('i will watch tv')

i will play cricket

In [8]:
age=input("enter your age")
if int(age)>=18:
    print('you are eligible for the vote')
else:
    print('you are not eligible')

enter your age 18

you are eligible for the vote

In [9]:
# to print given number is even or not
number=input("enter any number")
if int(number)%2==0:
    print('given number is even')
else:
    print('given number is not even')

enter any number 4

given number is even

In [16]:
marks=input('enter the marks')
if int(marks)>=85:
    print('excellent')
elif 70<=int(marks)<85:
    print('good')
elif 50<=int(marks)<70:
    print('Average')
else:
    print('failure')

enter the marks 2

failure

In [20]:
is_vip=True
age=input('enter the age')
if is_vip ==True:
    if int(age)>=18:
        if int(age)<65:
            print("you are an vip customer")
        else:
            print('you are an important vip customer')
    else:
        print('since you are minor vip is not applicable')
else:
    print('you are not an vip customer')

enter the age 98

you are an important vip customer

In [26]:
name=input("Enter your name")
email=input("Enter your email")
password=input("Enter your password")

if name=="":
    print("enter valid name")
if '@' not in email:
    print("enter valid email")
else:
    if len(password)<6:
        print("please enter valid password")
    else:
        print("login is successful")

Enter your name shaik moulali
Enter your email babar@123
Enter your password babar@12

login is successful

In [28]:
count=5
while count>0:
    print(count)
    count=count-1
else:
    print("while block is executed successfully")

5
4
3
2
1
while block is executed successfully

In [29]:
# to print the numbers from 1 to 6
i=1
n=6
while i<=n:
    print(i)
    i=i+1
else:
    print("while block is executed successfully")

1
2
3
4
5
6
while block is executed successfully

In [30]:
i=1
n=6
while i<=n:
    print(i)
    i=i+1
    if i==3:
        break
    
    
else:
    print("while block is executed successfully")

1
2

In [32]:
i=1
n=6
while i<=n:
    
    i=i+1
    if i==3:
        continue
    print(i)
    
    
else:
    print("while block is executed successfully")

2
4
5
6
7
while block is executed successfully

In [34]:
list=[1,2,3,4,5,6,7] # to exclude the numbers in the list 2,3
for i in list:
    if i==2 or i==3:
        continue
    else:
        print(i)

1
4
5
6
7

In [44]:
# to print right angled traingle using for loop
for i in range(4):
    for j in range(i+1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *

In [43]:
list=[1,2,3,4]
for i in list:
    print(i,end=" ")

1 2 3 4

In [62]:
# to print even and odd numbers using for loop

for i  in range(10):
    
    if i%2!=0:
        continue
    print(i)

0
2
4
6
8

In [64]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [65]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [69]:
# multiplication from 1 to 5 tables
"""for i in range(1,6): 
    for j in range(1,11):
        product=i*j
        print(f"{i}*{j}={product}")
    print()"""

'for i in range(1,6):\n    for j in range(1,11):\n        product=i*j\n        print(f"{i}*{j}={product}")\n    print()'

In [72]:
for i in [1,2,"shaik","moulali"]:
    if i =="shaik" or i=="moulali":
        break
    print(i)

1
2

In [73]:
for i in [1,2,"shaik","moulali",3,4]:
    if i =="shaik" or i=="moulali":
        continue
    print(i)

1
2
3
4

In [79]:
for i in "pwskills":
    print(i)

p
w
s
k
i
l
l
s

In [82]:
for i in range(1,10):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [84]:
# to check if the given name is present in list or not
list=["shaik","moulali"]
if "shaik" in list:
    print("yes shaik is present in the list")
else:
    print("not present")

yes shaik is present in the list

In [96]:
# write a program to find the sum of all even numbers between 1 and 50

A=1
Sum_of_even=0
while A<=50:
    if A%2==0:
        print(A,end=" ")
        Sum_of_even+=A
    A=A+1
print(end="\n")
print("sum of even numbers between 1 and 50 is",Sum_of_even)

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50
sum of even numbers between 1 and 50 is 650

In [100]:
# to reverse a string

A=input("enter any name")
index=len(A)-1
rversed_string=""
while index>=0:
    rversed_string=rversed_string+A[index]
    index=index-1
print(rversed_string)

enter any name shaik

kiahs

In [102]:
# factorial of a given number

A= int(input("enter any number"))
factorial=1
while A>0:
    factorial=factorial*A
    A=A-1
print(factorial)

enter any number 5

120

In [2]:
string="babar azam"
if "babar" in string:
    print('given word is present')

given word is present

In [18]:
string=string.replace('mohammad','babar')
print(string)
string[0:15]="moula"

babar babar babar babar babar azam

TypeError: 'str' object does not support item assignment

In [19]:
s="pw skills"
if 'pw' in s:
    print('yes the mentioned word is present')

yes the mentioned word is present

In [22]:
text="i am a student"
text=text.replace('student','teacher')
print(text)

i am a teacher

In [26]:
text.upper()
text.lower()
text.title()
text.swapcase()

'I AM A TEACHER'

In [27]:
str1="hello"
str2="Hello"
str1.upper()==str2.upper()

True

In [28]:
reg_num=["pw","sk","og"]
searnum="pw"
if searnum in reg_num:
    print("it's available")
else:
    print("it's not available")

it's available

In [29]:
str1=["ajay",'sanjay',"bijay"]
sorted(str1)

['ajay', 'bijay', 'sanjay']

In [33]:
str1="     hi babar     "
str1=str1.strip()
str1

'hi babar'

In [38]:
str2="name:moulali_age:26_it employee"
str2=str2.split('_')
str2

['name:moulali', 'age:26', 'it employee']

In [41]:
table="name\tage\tgender\nshaik \t26\tmale\nkarthik\t27\tmale"
print(table)

name	age	gender
shaik 	26	male
karthik	27	male

In [43]:
lis=['carrot','potato','tomato']
a=lis
a[0]="brinjal"
if a[0] in lis:
    print("its a shallow copy")
else:
    print("its a deep copy")

its a shallow copy

In [50]:
lis=['carrot','potato','tomato']
a=lis.copy()
a[1]="brinjal"
if a[1] in lis:
    print("its a shallow copy")
else:
    print("its a deep copy")

its a deep copy

In [52]:
# lists

lis=["orange","moula",1,2,3.5]
lis[0]="honey"
lis

['honey', 'moula', 1, 2, 3.5]

In [69]:
lis=["orange","moula",1,2,3.5]
lis

['orange', 'moula', 1, 2, 3.5]

In [70]:
lis.append("babar azam")

In [71]:
lis

['orange', 'moula', 1, 2, 3.5, 'babar azam']

In [72]:
lis.insert(0,"virat kohli")

In [73]:
lis

['virat kohli', 'orange', 'moula', 1, 2, 3.5, 'babar azam']

In [74]:
lis1=["ptatto","grapes"]
lis.extend(lis1)
print(lis)

['virat kohli', 'orange', 'moula', 1, 2, 3.5, 'babar azam', 'ptatto', 'grapes']

In [75]:
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [79]:
msg="hi bro\n"
print(msg *3)

hi bro
hi bro
hi bro

In [87]:
del a

In [89]:
price=[10,20,30,40,50]
doubled_price=[]
for i in price:
    doubled_price.append(i*2)
print(doubled_price)

# or doubled_price=[i*2 for i in price]

[20, 40, 60, 80, 100]

In [91]:
doubled_price=[i*2 for i in price]
doubled_price

[20, 40, 60, 80, 100]

In [93]:
names=['babar',"ajay",'bijay']
[i.capitalize() for i in names]

['Babar', 'Ajay', 'Bijay']

In [94]:
str1="doc.ppt"
str1.split(".")[-1]

'ppt'

In [95]:
filename=['doc.ppt',"name.pdf","doc3.xls"]
[i.split('.')[-1] for i in filename]

['ppt', 'pdf', 'xls']

In [106]:
# tuples
t=('moula','ali','babar',1,2,3)
t[1]

'ali'

In [107]:
t.count('moula')
t.index('ali')

1

t1=(1,2,3,4)
t2=(4,5,6,7)
t3=(t1,t2)
t3

In [110]:
t1=(1,2,3,4)
t2=(4,5,6,7)
t3=(t1,t2) 
t3[0][2]

3

In [112]:
for i in t1:
    print(i,end=" ")

1 2 3 4

In [114]:
s={1,2,3}
s.add(5)
print(s)

{1, 2, 3, 5}

In [116]:
s.remove(2)
print(s)

KeyError: 2

In [120]:
print(s)
s.update(['ajay'])
print(s)

{1, 3, 5, 'ajay'}
{1, 3, 5, 'ajay'}

In [122]:
s={1,2,"moulali",(1,2)}
s

{(1, 2), 1, 2, 'moulali'}

In [12]:
l=[1,2,3]
l.append([4,"shaik"])
print(l)

[1, 2, 3, [4, 'shaik']]

In [14]:
dict1={'name':'shaik moulali','city':'ponnur','age':26}
dict1

{'name': 'shaik moulali', 'city': 'ponnur', 'age': 26}

In [17]:
dict1["name"]="babar azam"
dict1

{'name': 'babar azam', 'city': 'ponnur', 'age': 26}

In [19]:
dict1["fav_player"]="virat kohli"
dict1

{'name': 'babar azam',
 'city': 'ponnur',
 'age': 26,
 'fav_player': 'virat kohli'}

In [27]:
dict1.update({'fav_dish':'Biryani'})
dict1
#dict1.pop('name')

{'city': 'ponnur',
 'age': 26,
 'fav_player': 'virat kohli',
 'fav_dish': 'Biryani'}

In [23]:
dict1

{'city': 'ponnur',
 'age': 26,
 'fav_player': 'virat kohli',
 'fav_dish': 'Biryani'}

In [24]:
len(dict1)

4

In [26]:
dict1.get("age")

26

In [32]:
# 5) Write a code to replace the word "apple" with "orange" in the string "I like apple"?

str1="I like apple"

str1=str1.replace('apple','orange')
print(str1)

I like orange

In [35]:
# 6)  Write a code to create a list with numbers 1 to 5 and print it?
lis=[1,2,3,4,5]
for i in lis:
    print(i,end=" ")

1 2 3 4 5

In [36]:

# 9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
lis= ['a', 'b', 'c', 'd']
lis[1]

'b'

In [37]:
# 15)  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

tup=("orange","papaya","kiwi")
if "kiwi" in tup:
    print("kiwi is present")
else:
    print("kiwi is not present")

kiwi is present

In [47]:
# 19)  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?

s1={1, 2, 3}
s2={3, 4, 5}
print(s1|s2)
intersection=s1&s2
print(f"intersection of set1 and set2 is {intersection}")

{1, 2, 3, 4, 5}
intersection of set1 and set2 is {3}

In [56]:
# 21)  Write a code to create a dictionary with the keys "name", "age", and "city", and print it?

dict1={"name":"moulali",'age':26,"city":'ponnur'}
for i in dict1.items():
    print(i)

('name', 'moulali')
('age', 26)
('city', 'ponnur')

In [63]:
# 25)  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?

dict1={'name': 'Alice', 'city': 'Paris'}
search_word="city"
if search_word in dict1.keys():
    print("city key is present")
else:
    print("city is not present")

city key is present

In [64]:
# 29) Write a code to combine two dictionaries into one and print the result?
dict1={'name': 'Alice', 'city': 'Paris'}
dict2={'age':26,"state":'Andhra pradesh'}
print(f"the combination of two dicts are {dict1|dict2}")

the combination of two dicts are {'name': 'Alice', 'city': 'Paris', 'age': 26, 'state': 'Andhra pradesh'}

In [67]:
# 30)  Write a code to convert a list of strings into a set?

lis=['babar','azam','ali']
set1=set(lis)
set1

{'ali', 'azam', 'babar'}

In [75]:
# functions
def greet(name):
    return "hi moula ali"+name
greet(' how are you')

'hi moula ali how are you'

In [77]:
def add(a,b):
    addition = a+b
    return addition
add(1,2)

3

In [80]:
def sum(a,b):
    add=a+b
    return add
print(sum(b="azam",a="babar "))

babar azam

In [82]:
def add_two_numebrs():
    a=int(input("enter the 1st number value"))
    b=int(input("enter the 2nd number value"))
    return a+b
add_two_numebrs()

enter the 1st number value 10
enter the 2nd number value 20

30

In [106]:
# write a function that takes list as input and print only numeric values
def only_numeric(a):
     b=[]
     for i in a:
         if type(i)==int or type(i)==float:
             b.append(i)
     return b

only_numeric([1,2,3.5,"shaik","ali"])

[1, 2, 3.5]

In [112]:
def only_numeric_nested_list(a):
    n=[]
    for i in a:
        if type(i)==list:
            for j in i:
                if type(j)==int or type(j)==float:
                    n.append(j)
        else:
            if type(i)==int or type(i)==float:
                n.append(i)
    return n

only_numeric_nested_list([[1,2,3],["moula","babar"],45,67])

[1, 2, 3, 45, 67]

In [119]:
def var_args(*args,a):
    s=0
    for i in args:
        s=s+i
    return s,a
var_args(1,2,3,a="babar")

(6, 'babar')

In [120]:
# write a fucntion can take any number of values and returns only list

def var_list(*args):
    n=[]
    for i in args:
        if type(i)==list:
            n.append(i)
    return n
var_list(1,2,3,4,["shaik","moula bhai"])

[['shaik', 'moula bhai']]

In [126]:
def kwargs(user_name,**kwargs):
    user={'name':user_name}
    for key,value in kwargs.items():
        user[key]=value
    return user
kwargs("shaik moulali",age=26,city="ponnur")

{'name': 'shaik moulali', 'age': 26, 'city': 'ponnur'}

In [ ]:
#Simple Use-Case Example

'''Suppose you’re writing a function to register a user, but you don’t know exactly which extra information 
(like age, city, interests, etc.) different parts of your program might want to pass. You can use **kwargs:'''
def register_user(username, **kwargs):
    # Mandatory parameter
    user = {"username": username}
    
    # Add any extra keyword args to the user dict
    for key, value in kwargs.items():
        user[key] = value
    
    # Simulate saving user to database
    print("Registering user with data:", user)
    return user

# Example calls:
user1 = register_user("alice", age=25, city="Bengaluru")
user2 = register_user("bob", city="Mumbai", interests=["music", "coding"])

In [128]:
def var_kwarg(name,**kwargs):
    dict1={'name':name} # here in this dict1 i want add more details
    for key,value in kwargs.items():
        dict1[key]=value
    return dict1

print(var_kwarg("shaik moulali",age=26,city="ponnur"))

{'name': 'shaik moulali', 'age': 26, 'city': 'ponnur'}

In [136]:
a="shaik moulali"
def sam():
    global a
    b=" mani kanta"
    return a+b

sam()

'shaik moulali mani kanta'

In [10]:
iterator=iter([1,2,3,4])
next(iterator)
next(iterator)
next(iterator)
next(iterator)

4

In [11]:
def sq_num(a):
    n=[]
    for i in a:
        n.append(i**2)
    return n
sq_num([1,2,3,4])

[1, 4, 9, 16]

In [26]:
#generator function

def sq_num(a):
    
    for i in range(a):
        yield i**2
gen=sq_num(10)
next(gen)
next(gen)
next(gen)
next(gen)
next(gen)

16

In [31]:
a=[1,2,3,4]
for i in a:
    
    print(i**2)

1
4
9
16

In [32]:
# normal fucntion and lambda fucntion

def sq_num(a):
    return a**2
sq_num(10)

100

In [33]:
sq_num=lambda x:x**2
sq_num(3)

9

In [35]:
y=["shaik","anil","bijay"]
sorted(y,key=lambda y:len(y))

['anil', 'shaik', 'bijay']

In [41]:
# map
#map(func,ite)
def sq_num(a):
    for i in a:
        print(i**2,end=" ")
sq_num([1,2,3])

1 4 9

In [2]:
a=[1,2,3]
def sq_num(a):

    
    for i in a:
        print(i**2)
    
sq_num(a)

1
4
9

In [3]:
b=[[3,5,9]]
list(map(sq_num,b))

9
25
81

[None]

In [6]:
def add_num(x):
    return x+10
b=[1,2,3]
list(map(add_num,b))

[11, 12, 13]

In [1]:
list(map(lambda x:x*2,[1,2,3]))

[2, 4, 6]

In [2]:
list(map(lambda x:x*2,[2,4,6]))

[4, 8, 12]

In [3]:
# to convert iterable string to int values
list(map(lambda x:int(x),["1","2","3"]))

[1, 2, 3]

In [6]:
A=["shaik moulali","babar"," azam"]
list(map(lambda A:A.upper(),A))

['SHAIK MOULALI', 'BABAR', ' AZAM']

In [11]:
lis1=[20,24]
lis2=[21,22,23,24,8]
list(map(lambda x,y:x-y,lis1,lis2))

[-1, 2]

In [13]:
#reduce function
from functools import reduce
reduce(lambda x,y:x+y,[1,2,3,4,5])

15

In [15]:
reduce(lambda x,y:x+y,["my"," name"," is"," shaik"," moulali"])

'my name is shaik moulali'

In [16]:
lis=[1,8,90,23,340]
reduce(lambda x,y:x if x>y else y,lis)

340

In [17]:
list(filter(lambda x:x%2==0,[1,2,3,4,5,6]))

[2, 4, 6]

In [20]:
s=["ajay","bijay","babar azam"]
list(filter(lambda x:len(x)>5,s))

['babar azam']

In [28]:
def check_if_even(x):
    if x%2==0:
        return x
    return False
list(filter(check_if_even,[1,2,3,4,5]))

[2, 4]

In [33]:
# list comprehension

lis=[2,3,4,5]
res=[i%2 for i in lis]
res

[0, 1, 0, 1]

In [34]:
lis=[2,3,4,5]
[i for i in lis if i%2==0]

[2, 4]

In [35]:
lis=[1,2,3,4,5]
['even' if i%2==0 else "odd" for i in lis]

['odd', 'even', 'odd', 'even', 'odd']

In [2]:
'''1) Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
the list ?'''

def sum_of_all_even(x):
    n=[]
    sum=0
    for i in x:
        if i%2==0:
            sum=sum+i
            n.append(sum)
    return sum

sum_of_all_even([1,2,3,4,5,6])

12

In [3]:
# varaibale lenth args i want the sum of 1,2,3,4,5
def var_len(*args):
    sum=0
    for i in args:
        sum=sum+i
    return sum
var_len(1,2,3,4,5)

15

In [7]:
#2) Create a Python function that accepts a string and returns the reverse of that string?

'''
use same logic here 
s="pwskills"
s[::-1]

'''

def rev_str(x):
    rev_str=x[::-1]
    return rev_str
rev_str("moulali")

'ilaluom'

In [18]:
'''3) Implement a Python function that takes a list of integers and returns a new list containing the squares of
each number.'''

def sq_list():
    x=list(map(int,input("enter the numebrs you like :").split(' ')))
    print(f"the list of integers are {x}")
    n=[]
    for i in x:
        n.append(i**2)
    return n
sq_list()

enter the numebrs you like : 1 2 3 4 5

the list of integers are [1, 2, 3, 4, 5]

[1, 4, 9, 16, 25]

In [20]:
# 5)  Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms?

def fib_series(x):
    a,b=0,1
    for i in range(x):
        yield a
        a,b=b,a+b
gen=fib_series(9)
for i in gen:
    print(i,end = " ")

0 1 1 2 3 5 8 13 21

In [21]:
# 6) Write a generator function in Python that yields the powers of 2 up to a given exponent?

def powers_of_two(x):
    res=1
    for i in range(x+1):
        yield res
        res=res*2

x=powers_of_two(10)
for i in x:
    print(i,end=" ")

1 2 4 8 16 32 64 128 256 512 1024

In [23]:
#9) Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit?

#farenheit=celsius*9/5+35

def temp_convert(x):
    faren=(x*9/5+35)
    return faren
print("1---->",list(map(temp_convert,[3,4,5])))

# or using lambda function

print("2---->",list(map(lambda x: (x*9/5+35),[3,4,5])))

1----> [40.4, 42.2, 44.0]
2----> [40.4, 42.2, 44.0]

In [29]:
# 10)  Create a Python program that uses `filter()` to remove all the vowels from a given string?

def vowel_removal(text):
    vowels="aeiouAEIOU"
    return text not in vowels
" ".join(filter(vowel_removal,input("enter any text here")))

enter any text here moulali

'm l l'

In [14]:
#oops
# oops is nothing but collections of methods and properties of an object inside the class.

class human_being():
    def name(self):# while accessing this method from object we should use self inside class method otherwise we cannot use it
        return 'name is shaik'
#initilazing an object
obj1=human_being()
print(obj1.name())

name is shaik

In [19]:
class car():
    A='babar azam'#class varaiable
    def accelarator(self):# self is a refernce variable in the class using which we can access the class methods and varibales.
        return 'car is accelarator'
    def brake(self):
        return 'car is stopping'
obj1=car()
print(obj1.A)
print(obj1.accelarator())

babar azam
car is accelarator

In [23]:
class bank():
    def withdraw(self,amount):
        self.amount=amount
        return 'amount is withdrawing-->',amount
    def deposit(self,amount):
        self.amount=amount
        return 'amount is deposting-->',amount
obj=bank()
obj.withdraw(1000)

('amount is withdrawing-->', 1000)

In [26]:
# extract even and odd no's from a list without using init method

class listops():
    
    def even_list(self,l):
        l1=[]
        for i in l:
            if i%2==0:
                l1.append(i)
        return l1
obj=listops()
obj.even_list([1,2,3,4,5,6])

[2, 4, 6]

In [44]:
# extract even numbers from a list using init method
# the biggest advantage from init method is we can initialize/pass different arguments for different object and here flexibility is there
# but without init method we have to pass 

class listops():
    def __init__(self,l):
        self.l=l
        return
    def listops_even(self):
        
        l1=[]
        for i in self.l:
            if i%2==0:
                l1.append(i)
        return l1
    def listops_odd(self):
        l1=[]
        l=self.l
        for i in self.l:
            if i%2!=0:
                l1.append(i)
        return l1
obj=listops([1,2,3,4,5,6])

print(obj.listops_even())
print(obj.listops_odd())

[2, 4, 6]
[1, 3, 5]

In [51]:
class book():
    def __init__(self,author_name,book_name,topic):
        self.author_name=author_name
        self.book_name=book_name
        self.topic=topic
    def name(self):
        return 'hi moulali now you are accessing this method by using self reference variable'
    def details_of_author(self):
        author_name=self.author_name
        book_name=self.book_name
        topic=self.topic
        print(self.name())

        return f"the author of the book is {author_name} and book name is {book_name} and topic is {topic}"
obj=book('shaik moulali','python','oops')
print(obj.details_of_author())

hi moulali now you are accessing this method by using self reference variable
the author of the book is shaik moulali and book name is python and topic is oops

In [60]:
# inheritance
class father:
    def father_prop(self):
        return "this is fathers property"
class son(father):
    def sons_property(self):
        return "this is sons property"
father_class=father()
print(father_class.father_prop(),'--> parent class')
sons_class_obj=son()
print(sons_class_obj.sons_property(),'--> child class')
print(sons_class_obj.father_prop(),'--> child class')

this is fathers property --> parent class
this is sons property --> child class
this is fathers property --> child class

In [65]:
class ravi():
    def __init__(self,name,age,weight,color):
        self.name=name
        self.age=age
        self.weight=weight
        self.color=color
    def defining_attribures(self):
        name=self.name
        age=self.age
        weight=self.weight
        color=self.color
        return f"my name is {name} and my age is {age} and my weight is {weight} and my color is {color}"
obj=ravi('MOULALI',26,80,'brownish')
print(obj.defining_attribures())

my name is MOULALI and my age is 26 and my weight is 80 and my color is brownish

In [76]:
class fruit():
    def fruit_info(self):
        print("inside parent class")
class apple(fruit):
    def apple_info(self):
        print("inside child class")
obj_child=apple()
obj_child.fruit_info()
obj_par=fruit()
obj_par.fruit_info()

inside parent class
inside parent class

In [83]:
# method overriding

class par():
    def fruit(self):
        print("this is parent class")
class child(par):
    def fruit(self):
        print("this is child class")
    def apple(self):
        print("apple this is in child class")
obj1=child()
obj1.fruit()
obj1.apple()
obj2=par()
obj2.fruit()

this is child class
apple this is in child class
this is parent class

In [89]:
# multilevel inheritance

#grandfather-->father-->son

class grand_pa():
    def grandpa_prop(self):
        print("i am your grandfather, you are the one who is eligible to my properties")
class father(grand_pa):
    def father_prop(self):
        print("i am your father, you are the one who is eligible to my properties")
class son(father):
    def son_prop(self):
        print("i am eligible to take all properties")

obj_son=son()
obj_son.son_prop()
obj_son.father_prop()
obj_son.grandpa_prop()
obj_father=father()
obj_father.grandpa_prop()

i am eligible to take all properties
i am your father, you are the one who is eligible to my properties
i am your grandfather, you are the one who is eligible to my properties
i am your grandfather, you are the one who is eligible to my properties

In [94]:
class par1():
    def method(self):
        print('inside par class1')
class par2():
    def method(self):
        print('inside par class2')
class son(par2,par1):
    def method_son(self):
        print("hi this is child class method")
obj_son=son()
obj_son.method()

inside par class2

In [5]:
class vehicle():
    def vehicle_info(self):
        print("this is vehicle info")
class car(vehicle):
    def car_info(self,name):
        self.name=name
        print(f"this car name is {self.name}")
class bike(vehicle):
    def bike_info(self,name):
        self.name=name
        print(f"this bike name is {self.name}")

obj=car()
obj1=bike()
obj.car_info("BMW")
obj1.bike_info("Yamaha")
obj1.vehicle_info()

this car name is BMW
this bike name is Yamaha
this is vehicle info

In [10]:
# polymorphism--> same function/method changing many forms
def func(a,b):
    return a+b
func('shaik ','moulali')
func(2,3)
func([1,2,3],[4,5,6])

[1, 2, 3, 4, 5, 6]

In [18]:
#polymorphism
class teacher():
    def lecture_info(self):
        return "this lecture info is w.r.t teacher info"
class student():
    def lecture_info(self):
        return "this lecture info is w.r.t student info"
obj1=teacher()
obj2=student()

class_obj=[obj1,obj2]

def parcer(class_obj):
    for i in class_obj:
        print(i.lecture_info())
  
parcer(class_obj)

this lecture info is w.r.t teacher info
this lecture info is w.r.t student info

In [21]:
#method overloading but python wont support

class method_overload():
    def student(self):
        print("my name is shaik moulali")
    def student(self,name):
        print("student name is ",name)
    def student(self,name,age):
        print(f"student name is {name} and his/her age is {age}")
obj=method_overload()
obj.student('shaik',26)

student name is shaik and his/her age is 26

In [49]:
class encapsule():
    def __init__(self,name,age):
        self.__name=name
        self.age=age
    def details(self):
        name=self.__name
        age=self.age
        return f"my name is {name} and age is {age}"
obj=encapsule('shaik',26)
print(obj._encapsule__name)# accessing the private varaiable
print(obj.details())

shaik
my name is shaik and age is 26

In [46]:
class student():
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
obj=student('shaik',26)
obj.name
obj.age=27
obj.age

27

In [53]:
class college():
    def __init__(self):
        self._college_name="VVIT"
class student(college):
    
    def __init__(self,name):
        college.__init__(self)
        self.name=name
    def show(self):
        print('name is ',self.name,'college is ',self._college_name)
obj=student('shaik')
obj.show()

name is  shaik college is  VVIT

In [62]:
# getting the base class varaible 
class college():
    def __init__(self):
        self.college_name="VVIT"
    def greet(self,name):
        print("i am from base class",name)
class student(college):
    def __init__(self,name):
        self.name=name
        super().__init__()
    def show(self):
        print('Name is ',self.name,'college is ',self.college_name)
        super().greet('moulali')
OBJ=student('SHAIK MOULALI')
OBJ.show()

Name is  SHAIK MOULALI college is  VVIT
i am from base class moulali

In [66]:
# decorator function

def my_decorator(funct):
    def wrapper():
        print("before computation")
        funct()
        print("after computation")
    return wrapper
@my_decorator
def say_hello():
    print('hi i am shaik')
say_hello()

before computation
hi i am shaik
after computation

In [72]:
class my_decorator():
    def __init__(self,func):
        self.func=func
        print("inside the init method")
    def __call__(self):
        print("something is before function")
        self.func()
        print("something is after function")
@my_decorator
def say_hello():
    print("hi shaik")
say_hello()

inside the init method
something is before function
hi shaik
something is after function

In [74]:
class call_met():
    def __call__(self):
        print("hi babar")
obj=call_met()
obj()

hi babar

In [3]:
# class method

class math():
    @classmethod
    def add(cls,x,y):
        return math,x,y
print(math.add(1,2))

(<class '__main__.math'>, 1, 2)

In [9]:
#static method

#this is normal method
class math():
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def __call__(self):
        print("hi moula")
    def add(self):
        x=self.x
        y=self.y
        return x+y
obj=math(3,5)
obj.add()

8

In [12]:
# this is static method

class math():
    @staticmethod
    def add(x,y):
        return x+y
obj=math()
obj.add(4,5)

9

In [17]:
#property decorator used to access method as attribute 

class area_of_circle():
    def __init__(self,radius):
        self.radius=radius
    @property
    def area(self):
        radius=self.radius
        area=3.14*radius**2
        return area
obj=area_of_circle(5)
print("the area of the circle is ---> ",obj.area,"sq.cm")

the area of the circle is --->  78.5 sq.cm

In [26]:
#class method 

class student:
    total_students=0
    def __init__(self,name):
        self.name=name
        student.total_students=student.total_students+1
    @classmethod
    def count_of_students(cls):
        print("count of students are ",cls.total_students)
obj=student("ali")
obj1=student("haseeb")
student.count_of_students()

count of students are  2

In [27]:
class test():
    def __init__(self):
        print("adress of object referred by self ",id(self))
t=test()
print("adress of object referred by t ",id(t))

adress of object referred by self  2224018697792
adress of object referred by t  2224018697792

In [40]:
class test():
    def __init__(self,name,marks,subs):
        self.name=name
        self.marks=marks
        self.subs=subs
    def __call__(self):
        print("call method is executed")
    def __str__(self):
        return self.name
    def __len__(self):
        return self.subs
d=test("shaik",75,3)
len(d)
str(d)

'shaik'

In [54]:
class student():
    def __init__(self,name,age,marks):
        self.name=name
        self.age=age
        self.marks=marks
    def task(self,task_name):
        return "task is ",task_name
    def display(self):
        print(f"name is {self.name}")
        print(f"age is {self.age}")
        
class master(student):
    def __init__(self,name,age,subject):
        marks=0
        super().__init__(name,age,marks)
        self.subject=subject
    def task(self):
        return super().task('teaching')
    def display(self):
        super().display()

#obj_stud=student("sahibzada",26,76)
#obj_stud.task("reading")

obj_master=master('ali',27,"python")
obj_master.task()

('task is ', 'teaching')

In [81]:
class test():
    def __init__(self,name):
        self.name=name
    def greet(self,task_name):
        return f"hi {self.name} your task is ",task_name
obj=test('"Shaik Moulali"')

class teacher(test):
    def __init__(self,name,subject):
        super().__init__(name)
        self.subject=subject
    def display(self):
        print(f"the name of the tecaher is {self.name}")
        print(f"the name of the subject is {self.subject}")
    def greet(self):
        return super().greet('teaching')
t=teacher('shaik moulali',"python")
t.greet()

('hi shaik moulali your task is ', 'teaching')

In [106]:
#abstarction using abstarct methods and classes

from abc import ABC,abstractmethod
class A(ABC):
    def __init__(self,radius):
        self.radius=radius
    @abstractmethod
    def method_one(self):
        pass
    @abstractmethod
    def method_two(self):
        pass
    def method_three(self):
        print("method three")

class b(A):
    def method_one(self):
        area=3.14*self.radius**2
        print("the radius of the given number is --->",area)
    def method_two(self):
        return "inside method two"

obj=b(5)
obj.method_one()

the radius of the given number is ---> 78.5

In [26]:
#file handling

f=open(r"C:\Users\moula\Downloads\moula_python_practise","w")

f.write("hi this is shaik moulali and i am practising python codes\n")
f.close()

f.closed
f.name
f.mode

'w'

In [27]:

f=open(r"C:\Users\moula\Downloads\moula_python_practise","a")
f.write("this line is about appending concept\n")
f.close()
f=open(r"C:\Users\moula\Downloads\moula_python_practise","a")
f.write("this is next line\n")
f.close()

In [37]:
#reading a file
f=open(r"C:\Users\moula\Downloads\moula_python_practise","r")
for i in f:
    print(i)
print(f.readline())

hi this is shaik moulali and i am practising python codes

this line is about appending concept

this is next line

In [44]:
#creating and writing a file

file1=open(r"C:\Users\moula\Downloads\moula_python_practise","w")
file1.write("Hi my name is shaik moulali\n")
file1.write("i am from andhra pradesh, guntur city\n")
file1=open(r"C:\Users\moula\Downloads\moula_python_practise","a")
file1.write("i am currently staying in benagluru")
file1.close()
file1=open(r"C:\Users\moula\Downloads\moula_python_practise","r")
for i in file1:
    print(i)

Hi my name is shaik moulali

i am from andhra pradesh, guntur city

i am currently staying in benagluru

In [58]:
print(file1.tell())
file1.seek(0)# it tells the current position of the cursor
print(file1.readline())

29
Hi my name is shaik moulali

In [59]:
import os
os.getcwd()

'C:\\Users\\moula\\Downloads'

In [62]:
os.path.getsize(r"C:\Users\moula\Downloads\moula_python_practise")

103

In [72]:
os.mkdir(r"C:\Users\moula\Downloads\test")

In [75]:
#creating directory inside parent directory
new_dir=os.path.join(r"C:\Users\moula\Downloads\test","test1")
os.mkdir(new_dir)

In [78]:
# creating multiple directories inside parent

base=r"C:\Users\moula\Downloads\test"
children=['test2','test3','test4']
for child in children:
    path=os.path.join(base,child)
    os.mkdir(path)

In [79]:
os.rmdir("test")

OSError: [WinError 145] The directory is not empty: 'test'

In [80]:
# to remove the directory even with child directories imprt shutil
import shutil
shutil.rmtree("test")

In [81]:
shutil.copy(r"C:\Users\moula\Downloads\moula_python_practise",r"C:\Users\moula\Documents\moula_python_practise")

'C:\\Users\\moula\\Documents\\moula_python_practise'

In [82]:
shutil.move(r"C:\Users\moula\Documents\moula_python_practise",r"C:\Users\moula\Downloads\moula_python_practise")

'C:\\Users\\moula\\Downloads\\moula_python_practise'

In [83]:
with open(r"C:\Users\moula\Downloads\moula_python_practise","w") as file:
    for i in range(11):
           file.write("this is my first line with with statement\n")

In [90]:
with open(r"C:\Users\moula\Downloads\moula_python_practise","r") as file:
        for i in file:
            print(i)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 14-15: truncated \UXXXXXXXX escape (1245651240.py, line 1)

In [101]:
# creating an csv file

import csv

data=[['name','age','city'],["shaik moulali",26,"ponnur"],["asif",24,"chandole"]]
for i in data:
    print(i)

with open(r"C:\Users\moula\Downloads\example_csv.csv","w",newline="") as csv_file:
    w=csv.writer(csv_file)
    for i in data:
        w.writerow(i)

with open(r"C:\Users\moula\Downloads\example_csv.csv","r") as csv_file:
    r=csv.reader(csv_file)
    for i in r:
        print(i)

['name', 'age', 'city']
['shaik moulali', 26, 'ponnur']
['asif', 24, 'chandole']
['name', 'age', 'city']
['shaik moulali', '26', 'ponnur']
['asif', '24', 'chandole']

In [99]:
with open(r"C:\Users\moula\Downloads\example_csv.csv","r") as csv_file:
    file=csv_file.read()
    print(file)

name,age,city
shaik moulali,26,ponnur
asif,24,chandole

In [110]:
# exceptional handling

try:
    print(10/1)
except:
    print("there is some error")

10.0

In [112]:
# to point out the specific error
try:
    print(10/0)
except Exception as e:
    print("there is some error ---> ",e)

there is some error --->  division by zero

In [114]:
try:
    print(10/0)
except ZeroDivisionError as e:
    print("here i am handling division by zero error ---> ",e)

here i am handling division by zero error --->  division by zero

In [117]:
print(10/1)
print(10/2)
print(10/3)
print(10/4)
try:
    print(10/0)
except Exception as e:
    print("there is some error that is ---->",e)
print(10/10)
print(10/9)

10.0
5.0
3.3333333333333335
2.5
there is some error that is ----> division by zero
1.0
1.1111111111111112

In [122]:
try:
    print(10/"3")
except TypeError as e:
    print("the string is being used in the denominator--->",e)
    print("to convert string value to int",10/int("3"))

the string is being used in the denominator---> unsupported operand type(s) for /: 'int' and 'str'
to convert string value to int 3.3333333333333335

In [126]:
try:
    print(10/0)
    print(10/"3")
except (ZeroDivisionError,TypeError) as e:
    print("there is some error that is ---->",e)

there is some error that is ----> division by zero

In [129]:
try:
    print(''/"pwskills")
except ZeroDivisionError as e:
    print("there is some error",e)
except TypeError as e:
    print("the string is being used in the denominator--->",e)

the string is being used in the denominator---> unsupported operand type(s) for /: 'str' and 'str'